{% extends 'base.html' %}
{% block title %}Категории тестов{% endblock title %}

{% block content %}
{% for c in categories %}
    {% if not c.parent %}
<p><a href="{{ c.get_absolute_url }}">В категорию {{ c.name }}</a></p>
    {% endif %}
{% endfor %}
{% for c in child_categories %}
    {% if not c.is_leaf_node %}
    <p><a href="{{ c.get_absolute_url }}">В категорию {{ c.name }}</a></p>
        {% else %}
    <p><a href="{{ c.get_quizs_by_category }}"> Пройти набор тестов по категории {{ c.name }}</a></p>
    {% endif %}
{% endfor %}
{% endblock content %}